<!DOCTYPE html>
<html lang="en" ng-app="NoteWrangler">
<head>
	<meta charset="UTF-8">
	<title>Note Wrangler</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
</head>
<body>
	<h1><a ng-href="#/">NoteWrangler!</a></h1>
	<div ng-view class="container-fluid"></div>
</body>

<!-- vendor -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>

<!-- App -->
<script src="assets/javascript/app.js"></script>
<script src="assets/javascript/routes.js"></script>
<!-- Directives -->

<!-- Controllers -->
<script src="assets/javascript/controllers/noteCreateController.js"></script>
<script src="assets/javascript/controllers/noteEditController.js"></script>
<script src="assets/javascript/controllers/noteIndexController.js"></script>
<script src="assets/javascript/controllers/noteShowController.js"></script>
<!-- Services -->
<script src="assets/javascript/services/note.js"></script>
</html>